/* Styles for Song Lyrics Page */
.song-lyrics {
    background-color: chocolate;
    padding: 20px;
    color: white;
  }
  
  .artist {
    font-size: 14pt;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: moccasin;
  }
  
  .song-title {
    font-size: 14pt;
    font-family: Arial, sans-serif;
    color: khaki;
  }
  
  .album, .year {
    font-size: 12pt;
    font-family: Arial, sans-serif;
    color: ivory;
  }
  
  .lyrics .verse {
    font-size: 14pt;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: gold;
    margin-left: 2cm;
    margin-right: 2cm;
  }
  
  .lyrics .chorus {
    font-size: 14pt;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: gold;
    margin-left: 4cm;
    margin-right: 4cm;
  }
  